{% load static %}
<html>
<head>
  <title>CINEMA</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/hovereffect.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">CINEMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == '/peliculas/listarsemanal/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'peliculas:listarsemanal' %}">
            Películas <span class="sr-only"></span></a>
        </li>
        <li class="nav-item {% if request.path == '/peliculas/listarestrenos/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'peliculas:listarestrenos' %}">
            Estrenos <span class="sr-only"></span></a>
        </li>
        <li class="nav-item {% if request.path == '/teatros/listar/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'teatros:listar' %}">
            Teatros <span class="sr-only"></span></a>
        </li>
        <!--listado de opciones para el administrador-->
        {% if user.profile.role == 'Administrador' %}
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ user.profile.role }}
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{% url 'peliculas:listar' %}">Listar Películas</a>
             <a class="dropdown-item" href="{% url 'peliculas:crear' %}">Nueva Película</a>
             <a class="dropdown-item" href="{% url 'teatros:listarfunciones' %}">Funciones</a>
           </div>
         </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'peliculas:buscar' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar películas..." name="search" required>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
      </form>

      {% if user.is_authenticated %}
        <h6 class="ml-5" style="color:white">Hola {{ user.username }}!</h6>
        <a href="{% url 'logout' %}" class="btn btn-info ml-2">Cerrar Sesión</a>
      {% else %}
        <a href="{% url 'users:signup' %}" class="btn btn-info ml-5">Registrarse</a>
        <a href="{% url 'login' %}" class="btn btn-danger ml-2">Iniciar Sesión</a>
      {% endif %}
    </div>
  </nav>
</div>

{% if request.path == '/' %}
  {% include "tiquetes/banner_venta.html" with movies=movie %}
{% endif %}
<!-- aqui va el contenido de las subpáginas-->
{% block content %}
{% endblock %}

{% include "base/footer.html" %}

</body>
<script href="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>

$("#movie").prop('disabled', true);

$("#date").change(function() {

  var tdate = $(this).val();
  $("#movie").empty().html(' ');

  $.ajax({
      type: "GET",
      url: '{% url 'peliculas:ajax_load_peliculas' %}',
      data: {
        'date': tdate   // parámetro GET
      },
      success: function(resp, status, xhr) {
        var $newOpt = $("<option disabled selected>").attr("value",0).text('Seleccione la película')
        $("#movie").append($newOpt);
        $(resp).each(function(i, v){ // indice, valor
          var $newOpt = $("<option>").attr("value",v.pk).text(v.fields.name)
          $("#movie").append($newOpt);
        });
        $("#movie").prop('disabled', false);
      },
      error: function(xhr, status, error) {
          alert("error")
      },
      timeout: 5000 // sets timeout to 5 seconds
  });
});
</script>

</html>
