<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 mt-5" style="color:white">

  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">CINEMA Uniremington Manizales</h5>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Programacion</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color:#888888">Películas</a>
          </li>
          <li>
            <a href="#!" style="color:#888888">Próximos Estrenos</a>
          </li>
          <li>
            <a href="#!" style="color:#888888">Teatros</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: #888888">Escríbenos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <a href="#" style="color: #888888">UNIREMINGTON MANIZALES</a>
  </div>
  <!-- Copyright -->

</footer>
